html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #222;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
}

a {
    transition: text-shadow .25s ease;
    -webkit-transition: text-shadow .25s ease;
    -moz-transition: text-shadow .25s ease;
    -o-transition: text-shadow .25s ease;
    -ms-transition: text-shadow .25s ease;
}

nav a {
    color: #111;
    text-decoration: none;
}

a:hover {
    /*color: #004499;*/
    text-shadow: #ccc 0 0 8px;
}

h1 {
    margin: 0 0;
    font-size: 8em;
}

p {
    line-height: 1.5em;
}

nav ul {
    padding: 0;
    margin: 1em auto;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 2em 0 0;
    padding: 0;
}

header {
    border-bottom: 3px solid #666;
    background-repeat: no-repeat;
    background-color: #000;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#333), to(#000));
    background-image: -moz-radial-gradient(center 45deg, circle closest-side, #333 0, #000 1000px);
}

.header-content {
    color: #eee;
    text-align: center;
    margin: 0 auto;
}

.header-content h1 {
    letter-spacing: -.1ex;
}

.header-content .prefix {
    text-shadow: #0066ff 0 0 20px;

    transition: text-shadow 1s ease;
    -webkit-transition: text-shadow 1s ease;
    -moz-transition: text-shadow 1s ease;
    -o-transition: text-shadow 1s ease;
    -ms-transition: text-shadow 1s ease;
}

.header-content .suffix {
    color: #666;
}

.header-content h2 {
    margin: 0 0;
    font-weight: 100;
    font-size: 3em;

    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
}

.quickstart {
    font-size: .16em;
    vertical-align: middle;
    margin-left: 1em;
}

.button {
    letter-spacing: 0;
    padding: .5em 1em;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#3e5), to(#395));
    border: 1px solid #4f9;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2px 1px #3f7;
}

.button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #274 -1px -1px 0;
}

.share {
    padding: 1em 0;
    text-align: center;
    background: #eee;
}

.share span {
    margin: 1em;
}

.box {
    overflow: hidden;
    height: 100%;
    padding: 0 10%;
    margin: 0 auto;
    min-width: 800px;
}

.content {
    border-bottom: 2px solid #ddd;
}

.content article {
    float: left;
    margin: 0 3% 1.5em 0;
    width: 30%;
}

.content h1, .content h2 {
    margin-top: 1em;
    font-weight: 200;
    color: #222;
}

.content h1 {
    font-size: 2.5em;
}

.content h2 {
    font-size: 2em;
}

.content p {
    font-size: 1.2em;
    margin: 1em 0;
}

.app-container .app {
    float: left;
    width: 40%;
}

.app-container .code {
    float: right;
    width: 55%;
    min-height: 40em;
    overflow: hidden;
}

.get .button {
    width: 10em;
    font-size: 1.25em;
    display: inline-block;
    float: left;
    text-align: center;
}

.get .description {
    width: 60%;
    display: block;
    float: left;
    margin-left: 2.5em;
}

.main {
    margin: 0 auto;
    width: 60%;
}

.tabs {
    border-bottom: 1px solid #ccc;
}

.tabs .item {
    background: #eee;
    padding: .5em 1em;
    margin: 0 -1px -1px 0;
    border: 1px solid #ddd;
}

.tabs .active {
    background: #fff;
    margin-right: 0;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    cursor: pointer;
    padding-top: .75em;
}

.tabs .item a {
    color: #666;
    text-decoration: none;
}

.tabs .item a:hover {
    color: #004499;
}

.tabs .active a:hover {
    text-shadow: none;
}

.tabs .active a {
    color: #0066ff;
    cursor: default;
}

.stack .active {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.stack code {
    font-size: 12px;
    overflow: scroll;
}

.stack pre {
    margin: 1em;
}

.footer {
    background: #111;
    color: #888;
    font-size: .9em;
}

/* Cujo contacts overrides */

.cujo-contacts-container .header-view, .cujo-contacts-container .footer-view {
    display: none;
}