@font-face {
    font-family: 'EntypoSocial';
    src: url('font/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
        url('font/entypo/entypo-social.woff') format('woff'),
        url('font/entypo/entypo-social.ttf') format('truetype'),
        url('font/entypo/entypo-social.svg#svgFontName') format('svg');
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #222;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}

a {
    transition: text-shadow .25s ease;
    -webkit-transition: text-shadow .25s ease;
    -moz-transition: text-shadow .25s ease;
    -o-transition: text-shadow .25s ease;
    -ms-transition: text-shadow .25s ease;
}

a:hover {
    text-shadow: #ccc 0 0 8px;
}

h1 {
    margin: 0;
    font-size: 8em;
}

h3 {
    margin: 0;
}

p {
    line-height: 1.5em;
}

section {
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 .5em;
    padding: 0;
}

.icon:before {
    font-family: EntypoSocial;
    display: inline-block;
    font-size: 3em;
    margin-right: .1em;
    margin-top: -.4em;
    vertical-align: top;
}

.twitter-icon:before {
    content: '\f309';
}

.github-icon:before {
    content: '\f300';
}

.hero {
    background-color: #222;
    padding: 1em 0;
}

.hero nav {
    letter-spacing: .1em;
    text-transform: uppercase;
}

.hero nav .main {
    margin-bottom: 1em;
}

.hero nav a {
    color: #888;
    padding-bottom: .25em;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    transition: color .5s ease;
}

.hero nav a:hover {
    color: #ccc;
}

.hero nav .active {
    border-bottom: 1px solid #888;
    color: #666;
    padding-bottom: .25em;
    cursor: default;
}

.hero h1 {
    display: inline-block;
    letter-spacing: -.1ex;
    line-height: 1;
    margin-bottom: .1em;
}

.header-content {
    color: #eee;
    text-align: center;
    margin: -1em auto 0;
}

.header-content .prefix {
    text-shadow: #0066ff 0 0 30px;
}

.header-content .suffix {
    color: rgba(255, 255, 255, 0.3);
}

.header-content h2, .header-content .getit {
    display: none;
}

.button {
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    display: inline-block;
    letter-spacing: 0;
    padding: .25em 1em;
    vertical-align: middle;
}

.hero .button-container {
    font-size: 1.3em;
}

.hero .button {
    color: white;
    font-weight: bold;
    margin: .5em 0;
    text-decoration: none;
    text-shadow: rgba(0,0,0,0.5) -1px -1px 0;
    width: 15em;
}

.button.getit {
    background-color: #395;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#3e5), to(#395));
    background-image: -moz-radial-gradient(center 45deg, circle closest-side, #3e5 0, #395 1000px);
    border-color: #4f9;
    box-shadow: 0 0 8px 2px #3f7;
    -webkit-box-shadow: 0 0 8px 2px #3f7;
    -moz-box-shadow: 0 0 8px 2px #3f7;
}

.button.seeit {
    background-color: #359;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#28f), to(#359));
    background-image: -moz-radial-gradient(center 45deg, circle closest-side, #28f 0, #395 1000px);
    border-color: #49f;
    box-shadow: 0 0 8px 2px #37f;
    -webkit-box-shadow: 0 0 8px 2px #37f;
    -moz-box-shadow: 0 0 8px 2px #37f;
}

.announcements {
    background: #0a2;
    color: #fff;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

.announcements p {
    vertical-align: top;
    background-color: #0c2;
    margin: 0 0 0 10%;
    padding: 0;
    height: 1.5em;
    line-height: 1.5em;
}

.announcements p:before {
    display: inline-block;
    height: 0;
    border: .75em solid transparent;
    border-left-color: #0a2;
    content: ' ';
}

.box {
    overflow: hidden;
    height: 100%;
    padding: 0 5%;
    margin: 0 auto;
    min-width: 360px;
}

.content {
    padding-bottom: 2em;
    padding-top: 2em;
    border-bottom: 1px solid #ddd;
}

.content h3 {
    font-weight: 200;
    font-size: 2em;
}

.content article {
    float: none;
    margin: 0 0 1.5em 0;
    width: auto;
}

.content article.span2 {
    width: 63%;
}

.content h1, .content h2 {
    font-weight: 200;
    color: #222;
}

.content h1 {
    font-size: 2.5em;
}

.content h2 {
    font-size: 2em;
}

.content p {
    font-size: 1.2em;
    margin: 1em 0;
}

.tagline {
    background: #28f;
    color: #fff;
}

.intro {
    background: #eee;
}

.app-container .app, .app-container .code {
    margin-top: 2em;
    overflow: visible;
    width: auto;
}

.app-container .app > div {
    background: #eee;
}

.tabs {
    border-bottom: 1px solid #ccc;
}

.tabs .item {
    background: #eee;
    padding: .25em .5em;
    margin: 0 -1px -1px 0;
    max-width: 23%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tabs .item:hover {
    background: #ddd;
}

.tabs .item a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.tabs .item a:hover {
    color: #004499;
}

.tabs .active {
    background: #fff;
    border-bottom: 1px solid #fff;
    cursor: default;
}

.tabs .active:hover {
    background: #fff;
}

.tabs .active a {
    color: #0066ff;
}

.tabs .active a:hover {
    text-shadow: none;
}

.code .stack {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: scroll;
    max-height: 28em;
}

.stack code {
    font-size: 12px;
}

.stack pre {
    margin: 1em;
}

.alacarte-list {
    padding: 0;
    margin: 0;
}
.alacarte-list li {
    list-style-type: none;
    margin: 2em 0;
}

.alacarte-list h3 {
    margin: 0;
    padding: 0 0 0 48px;
    display: inline-block;
    background: no-repeat left -8px;
    height: 48px;
}

.alacarte-list .links {
    margin-left: 1em;
    font-size: .9em;
    display: inline-block;
}

.alacarte-list .description {
    margin: 0;
}

.alacarte-list .cola h3 {
    background-image: url(img/cola.png);
}

.alacarte-list .cram h3 {
    background-image: url(img/cram.png);
}

.alacarte-list .curl h3 {
    background-image: url(img/curl.png);
}

.alacarte-list .meld h3 {
    background-image: url(img/meld.png);
}

.alacarte-list .msgs h3 {
    background-image: url(img/msgs.png);
}

.alacarte-list .poly h3 {
    background-image: url(img/poly.png);
}

.alacarte-list .rest h3 {
    background-image: url(img/rest.png);
}

.alacarte-list .when h3 {
    background-image: url(img/when.png);
}
.alacarte-list .wire h3 {
    background-image: url(img/wire.png);
}

.footer {
    overflow: hidden;
    height: 100%;
    background: #111;
    color: #888;
    font-size: .9em;
}

.footer a {
    color: #999;
}

/* Hello overrides */

.cujo-hello-container .app > div {
    border: 1px solid #ccc;
    padding: 1em;
}

.cujo-hello-container .app input {
    font-size: 1.1em;
    padding: .25em;
}

/* Manifesto */

.manifesto .content.box {
    min-width: 320px;
    width: 60%;
    max-width: 700px;
}

.manifesto h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.hero, .announcements, .footer {
    width: 100%;
}

@media only screen and (min-width: 640px) {

    .hero, .announcements, .footer {
        width: 100%;
    }

    nav ul {
        display: inline-block;
    }

    nav li {
        margin: 0 1em 0 0;
    }

    .hero h1 {
        line-height: 1.4em;
    }

    .hero .main {
        float: left;
    }

    .hero .social {
        float: right;
    }

    .hero .button {
        width: 8em;
    }

    .header-content h2, .header-content .getit {
        display: block;
    }

    .hero .button-container {
        display: inline-block;
        margin: 0 1em;
        width: 10em;
    }

    .header-content h2 {
        margin: 0 0;
        font-weight: 100;
        font-size: 3em;
    }

    .tabs .item {
        padding: .5em 1em;
    }
}

@media only screen and (min-width: 800px) {
    nav li {
        margin: 0 2em 0 0;
    }

    .col2 {
        display: inline-block;
        float: left;
        margin-right: 2%;
        width: 45%;
    }

    .app-container .app {
        width: 35%;
    }

    .app-container .code {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .box {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content article {
        float: left;
        margin: 0 5% 1.5em 0;
        width: 28%;
    }

    .col3 {
        display: inline-block;
        float: left;
    }

    .col3 {
        width: 30%;
    }

    .alacarte-list li {
        margin: 1em 0;
        display: inline-block;
        vertical-align: top;
    }
}