.cujo-contacts fieldset {
	border: none;
}

.cujo-contacts input[type="text"] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 1em 0;
}

::-webkit-input-placeholder {
    color: #acacac;
}
:-moz-placeholder {
    color: #acacac;
}
::-moz-placeholder {
    color: #acacac;
}
:-ms-input-placeholder {
    color: #acacac;
}

.cujo-contacts label {
    font-weight: normal;
    color: #acacac;
}

.cujo-contacts {
	width: auto;
    margin: 0 auto;
	overflow: visible;
}

.cujo-contacts  .contacts-view-container {
    border: 1px solid #ccc;
	position: relative;
	height: 100%;
	width: auto;
	min-height: 400px;
	overflow: hidden;
	clear: both;
}

.cujo-contacts .contact-list-view {
    background-color: #fafafa;
    cursor: pointer;
}
